# English Literature Analysis

## Data Preparation / Data Cleaning

### Tasks

1. Read all the sheets in excel file(input) to a list of dataframes.
2. Standardize the column names.
3. Match the names in different sheets and update corresponding addresses.
 * Mark the conflicts in a different column.
4. Merge London city and non-London city latitudes and longitudes.
5. Update the latitudes and longitudes of entries with same addresses.
6. Find the missing latitudes and longitudes for the addresses using API.
7. Remove/merge unnecessary columns and create final dataframe.
8. Write the final dataframe into excel.

### Libraries

In [64]:
import os.path
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim # Required to find latitudes and longitudes of places
from pandas import ExcelWriter

### Important constants

In [2]:
INPUT_FILE_NAME = 'data/Network Data Lists-7-14.xlsx'
OUTPUT_FILE_NAME = 'data/Final_dataset.xlsx'
INPUT_COLUMNS = ['Name', 'List_ID', 'Year', 'Reformatted_Name','Gender', 'is_from_London', 'London_Street',
                 'London_Region', 'London_Lat_Long', 'City','Non_London_City_Lat_Long', 'Nation']
OUTPUT_COLUMNS = ['Name', 'Reformatted_Name', 'List_ID', 'Year','Gender', 'is_from_London', 'London_Street',
                 'London_Region', 'City', 'Nation', 'Lat_Long', 'Conflits']
SHEETS = None

### 1. Read all the sheets in excel file(input) to a list of dataframes.

In [3]:
# Returns list of dataframes
def read_input():
    global SHEETS
    df_list = []
    xl = pd.ExcelFile(INPUT_FILE_NAME)
    SHEETS = xl.sheet_names[:-1]        # Remove last sheet(Project Details)
    print("Sheets in dataframe")
    print(SHEETS)
    for i in range(len(SHEETS)):
        df = xl.parse(SHEETS[i])
        df_list.append(df)
    return df_list

### 2. Standardize the column names.

In [4]:
def standardize_column_names(df_list):
    for df in df_list:
        df.columns = INPUT_COLUMNS + list(df.columns)[len(INPUT_COLUMNS):]
    return df_list

# Utility function to check column names
def check_column_names(df_list):
    for df in df_list:
        print(df.columns[:len(INPUT_COLUMNS)])

### 3. Match the names in different sheets and update corresponding addresses.

In [82]:
# This will add two new columns:
# 1. 'location_update_from_other_sheet' : indicating whether the location entry was updated from other sheets
# 2. 'Conflicts' : Indicates possible locations (Same name different addresses)

def add_columns(df_list):
    for df in df_list:
        df['location_update_from_other_sheet'] = ''
        df['Conflits'] = ''
    return df_list

def get_indexes_of_missing_address(df):
    indexes = df[df['London_Street'].isnull() | df['London_Region'].isnull() | df['City'].isnull()].index.tolist()
    return indexes

def get_indexes_of_matching_names(df, name):
    indexes = df[df['Reformatted_Name'] == name].index.tolist()
    return indexes

def update_row_col(df, row, col, val, matching_sheet_idx, matchin_row_idx):
    if val != 'nan' and val != '0':
        if str(df.loc[row, col]) == 'nan':
                df.loc[row, col] = val
                df.loc[row, 'location_update_from_other_sheet'] = 'Yes, Sheet:' + str(matching_sheet_idx) + ' row:' + str(matchin_row_idx)
        elif df.loc[row, col] != val and df.loc[row, col]!=0:
            df.loc[row, 'Conflits'] += ' '+col+' : '+val+ ' Sheet:' + str(matching_sheet_idx) + ' row:' + str(matchin_row_idx) + ','

def update_address_crosscheck_df(df_list, df_idx):
    missing_rows_indexes = get_indexes_of_missing_address(df_list[df_idx])
    for missing_idx in missing_rows_indexes:  # Iterating over missing rows
        for i in range(len(df_list)): # Iterating over other sheets(df)
            if i != df_idx:           # Check for self sheet
                matching_row_indexes = get_indexes_of_matching_names(df_list[i], df_list[df_idx].loc[missing_idx,'Reformatted_Name'])
                for matching_idx in matching_row_indexes:
                    update_row_col(df_list[df_idx], missing_idx, 'London_Street', str(df_list[i].loc[matching_idx, 'London_Street']), i, matching_idx)
                    update_row_col(df_list[df_idx], missing_idx, 'London_Region', str(df_list[i].loc[matching_idx, 'London_Region']), i, matching_idx)
                    update_row_col(df_list[df_idx], missing_idx, 'City', str(df_list[i].loc[matching_idx, 'City']), i, matching_idx)

def update_address_crosscheck(df_list):
    df_list = add_columns(df_list)
    for i in range(len(df_list)):
        update_address_crosscheck_df(df_list, i)

### 4. Merge London city and non-London city latitudes and longitudes

In [116]:
# Creates a new column 'coordinates' which has latitude and longitude of any address
def merge_lat_long(df_list):
    for df in df_list:
        df['coordinates'] = np.nan
        #print(df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0]['London_Lat_Long'])
        print(df.loc[df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0].index, 'coordinates'])
        df.loc[df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0].index, 'coordinates'] = df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0]['London_Lat_Long']
        #df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0].loc['coordinates'] = df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0]['London_Lat_Long']

### 5. Update the latitudes and longitudes of entries with same addresses.

In [ ]:
def get_unique_df(df_list):
    unique_df = df_list[0].dropna(subset=[])
    

def update_lat_lon_with_same_address(df_list):
    unique_df = get_unique_df(df_list)

### 6. Find the missing latitudes and longitudes for the addresses using API.

### 7. Remove/merge unnecessary columns and create final dataframe.

### 8. Write the final dataframe into excel.

In [83]:
def save_xls(df_list):
    global SHEETS
    writer = ExcelWriter(OUTPUT_FILE_NAME)
    for i in range(len(SHEETS)):
        df_list[i].to_excel(writer,SHEETS[i])
    writer.save()

## Client

In [97]:
df_list = read_input()

Sheets in dataframe
['Emma Lyon 1812', 'Bolaffey 1820', 'Polack 1830', ' Moss 1839', ' Infant 1841', ' VOJ 1842-45', 'Belisario 1856']

In [98]:
df_list = standardize_column_names(df_list)
#check_column_names(df_list)

In [99]:
update_address_crosscheck(df_list)

In [117]:
merge_lat_long(df_list)

Series([], Name: coordinates, dtype: float64)
51    NaN
52    NaN
53    NaN
54    NaN
55    NaN
56    NaN
57    NaN
58    NaN
59    NaN
60    NaN
67    NaN
68    NaN
75    NaN
77    NaN
82    NaN
83    NaN
84    NaN
85    NaN
90    NaN
95    NaN
96    NaN
98    NaN
99    NaN
100   NaN
102   NaN
105   NaN
106   NaN
107   NaN
108   NaN
109   NaN
       ..
148   NaN
149   NaN
153   NaN
154   NaN
155   NaN
164   NaN
167   NaN
168   NaN
170   NaN
172   NaN
175   NaN
176   NaN
182   NaN
184   NaN
185   NaN
186   NaN
187   NaN
189   NaN
191   NaN
192   NaN
193   NaN
196   NaN
197   NaN
198   NaN
199   NaN
200   NaN
201   NaN
202   NaN
204   NaN
205   NaN
Name: coordinates, dtype: float64
18    NaN
23    NaN
29    NaN
32    NaN
33    NaN
34    NaN
36    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
48    NaN
49    NaN
50    NaN
99    NaN
100   NaN
Name: coordinates, dtype: float64
Series([], Name: coordinates, dtype: float64)
236   NaN
Name: coordinates, dtype: float64
Series([], Name: coordinates, dtype: float64)
74   NaN
76   NaN
Name: coordinates, dtype: float64

In [109]:
save_xls(df_list)