# English Literature Analysis

## Data Preparation / Data Cleaning

### Tasks

1. Read all the sheets in excel file(input) to a list of dataframes.
2. Standardize the column names.
3. Match the names in different sheets and update corresponding addresses.
 * Mark the conflicts in a different column.
4. Merge London city and non-London city latitudes and longitudes.
5. Update the latitudes and longitudes of entries with same addresses.
6. Find the missing latitudes and longitudes for the addresses using API.
7. Remove/merge unnecessary columns and create final dataframe.
8. Write the final dataframe into excel.

### Libraries

In [1]:
import os.path
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim # Required to find latitudes and longitudes of places
from pandas import ExcelWriter

### Important constants

In [24]:
INPUT_FILE_NAME = 'data/Network Data Lists-7-14.xlsx'
OUTPUT_FILE_NAME = 'data/Final_dataset.xlsx'
INPUT_COLUMNS = ['Name', 'List_ID', 'Year', 'Reformatted_Name','Gender', 'is_from_London', 'London_Street',
                 'London_Region', 'London_Lat_Long', 'City','Non_London_City_Lat_Long', 'Nation']
INTERMEDIATE_COLUMNS = ['Name', 'List_ID', 'Year', 'Reformatted_Name','Gender', 'is_from_London', 'London_Street',
                 'London_Region', 'London_Lat_Long', 'City','Non_London_City_Lat_Long', 'Nation', 'Conflits', 'location_update_from_other_sheet', 'coordinates']
OUTPUT_COLUMNS = ['Name', 'Reformatted_Name', 'List_ID', 'Year','Gender', 'is_from_London', 'London_Street',
                 'London_Region', 'City', 'Nation', 'Lat_Long', 'Conflits']
SHEETS = None

### 1. Read all the sheets in excel file(input) to a list of dataframes.

In [3]:
# Returns list of dataframes
def read_input():
    global SHEETS
    df_list = []
    xl = pd.ExcelFile(INPUT_FILE_NAME)
    SHEETS = xl.sheet_names[:-1]        # Remove last sheet(Project Details)
    print("Sheets in dataframe")
    print(SHEETS)
    for i in range(len(SHEETS)):
        df = xl.parse(SHEETS[i])
        df_list.append(df)
    return df_list

### 2. Standardize the column names.

In [4]:
def standardize_column_names(df_list):
    for df in df_list:
        df.columns = INPUT_COLUMNS + list(df.columns)[len(INPUT_COLUMNS):]
    return df_list

# Utility function to check column names
def check_column_names(df_list):
    for df in df_list:
        print(df.columns[:len(INPUT_COLUMNS)])

### 3. Match the names in different sheets and update corresponding addresses.

In [5]:
# This will add two new columns:
# 1. 'location_update_from_other_sheet' : indicating whether the location entry was updated from other sheets
# 2. 'Conflicts' : Indicates possible locations (Same name different addresses)

def add_columns(df_list):
    for df in df_list:
        df['location_update_from_other_sheet'] = ''
        df['Conflits'] = ''
    return df_list

def get_indexes_of_missing_address(df):
    indexes = df[df['London_Street'].isnull() | df['London_Region'].isnull() | df['City'].isnull()].index.tolist()
    return indexes

def get_indexes_of_matching_names(df, name):
    indexes = df[df['Reformatted_Name'] == name].index.tolist()
    return indexes

def update_row_col(df, row, col, val, matching_sheet_idx, matchin_row_idx):
    if val != 'nan' and val != '0':
        if str(df.loc[row, col]) == 'nan':
                df.loc[row, col] = val
                df.loc[row, 'location_update_from_other_sheet'] = 'Yes, Sheet:' + str(matching_sheet_idx) + ' row:' + str(matchin_row_idx)
        elif df.loc[row, col] != val and df.loc[row, col]!=0:
            df.loc[row, 'Conflits'] += ' '+col+' : '+val+ ' Sheet:' + str(matching_sheet_idx) + ' row:' + str(matchin_row_idx) + ','

def update_address_crosscheck_df(df_list, df_idx):
    missing_rows_indexes = get_indexes_of_missing_address(df_list[df_idx])
    for missing_idx in missing_rows_indexes:  # Iterating over missing rows
        for i in range(len(df_list)): # Iterating over other sheets(df)
            if i != df_idx:           # Check for self sheet
                matching_row_indexes = get_indexes_of_matching_names(df_list[i], df_list[df_idx].loc[missing_idx,'Reformatted_Name'])
                for matching_idx in matching_row_indexes:
                    update_row_col(df_list[df_idx], missing_idx, 'London_Street', str(df_list[i].loc[matching_idx, 'London_Street']), i, matching_idx)
                    update_row_col(df_list[df_idx], missing_idx, 'London_Region', str(df_list[i].loc[matching_idx, 'London_Region']), i, matching_idx)
                    update_row_col(df_list[df_idx], missing_idx, 'City', str(df_list[i].loc[matching_idx, 'City']), i, matching_idx)

def update_address_crosscheck(df_list):
    df_list = add_columns(df_list)
    for i in range(len(df_list)):
        update_address_crosscheck_df(df_list, i)

### 4. Merge London city and non-London city latitudes and longitudes

In [6]:
# Creates a new column 'coordinates' which has latitude and longitude of any address
def merge_lat_long(df_list):
    for df in df_list:
        df['coordinates'] = np.nan
        df.loc[df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0].index, 'coordinates'] = df[df['London_Lat_Long'].notnull() & df['London_Lat_Long']!=0]['London_Lat_Long']
        df.loc[df[df['Non_London_City_Lat_Long'].notnull() & df['Non_London_City_Lat_Long']!=0].index, 'coordinates'] = df[df['Non_London_City_Lat_Long'].notnull() & df['Non_London_City_Lat_Long']!=0]['Non_London_City_Lat_Long']

### 5. Update the latitudes and longitudes of entries with same addresses.

In [65]:
required_columns = ['London_Street', 'London_Region', 'City', 'Nation', 'coordinates']

'''def get_unique_df(df_list):
    unique_df = pd.DataFrame()
    for df in df_list:
        unique_df = unique_df.append(df[df['coordinates'].notnull()][required_columns].drop_duplicates(subset=required_columns[:-1]))
    return unique_df

def update_lat_lon_with_same_address(df_list):
    unique_df = get_unique_df(df_list)
    #print(unique_df.describe())
    for df in df_list:
        print('-------------')
        print(sum(pd.merge(df, unique_df, on=required_columns[:-1], indicator=True))
        #print(df[required_columns].loc[:,required_columns[:-1]].columns)
        #print(unique_df.loc[:,required_columns[:-1]].columns)
        #print(df[required_columns].loc[:,required_columns[:-1]]==unique_df.loc[:,required_columns[:-1]])'''

def update_lat_lon_with_same_address(df_list):
    large_df = pd.concat(df_list, ignore_index=False)
    for k,v in large_df.groupby(required_columns[:-1])['coordinates']:
        print(k)
        print(v)
    print(large_df.groupby(required_columns[:-1])['coordinates'].transform(lambda x: x.dropna().head(1) if x.notnull().any() else np.nan))
    large_df['coordinates'] = large_df.groupby(required_columns[:-1])['coordinates'].transform(lambda x: x.dropna().iloc[0] if x.notnull().any() else np.nan)
    df_list = [x.reset_index(level=0, drop=True) for i, x in large_df.groupby(level=0)]
    print(df_list)

### 6. Find the missing latitudes and longitudes for the addresses using API.

### 7. Remove/merge unnecessary columns and create final dataframe.

### 8. Write the final dataframe into excel.

In [7]:
def save_xls(df_list):
    global SHEETS
    writer = ExcelWriter(OUTPUT_FILE_NAME)
    for i in range(len(SHEETS)):
        df_list[i].to_excel(writer,SHEETS[i])
    writer.save()

## Client

In [48]:
df_list = read_input()

Sheets in dataframe
['Emma Lyon 1812', 'Bolaffey 1820', 'Polack 1830', ' Moss 1839', ' Infant 1841', ' VOJ 1842-45', 'Belisario 1856']

In [49]:
df_list = standardize_column_names(df_list)
#check_column_names(df_list)

In [50]:
update_address_crosscheck(df_list)

In [51]:
merge_lat_long(df_list)

In [66]:
update_lat_lon_with_same_address(df_list)

(0, 0, 0, 0)
282    NaN
Name: coordinates, dtype: object
(0, 0, 0, 'England')
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
61    NaN
69    NaN
74    NaN
Name: coordinates, dtype: object
(0, 0, 'Abergavenny', 'Wales')
603    NaN
Name: coordinates, dtype: object
(0, 0, 'Amsterdam', 'Netherlands')
52     NaN
163    NaN
Name: coordinates, dtype: object
(0, 0, 'Augusta', 'US')
1345    NaN
Name: coordinates, dtype: object
(0, 0, 'Baldock Hertfordshire', 'England')
71    51.988516, -0.189881
Name: coordinates, dtype: object
(0, 0, 'Baltimore', 'US')
1334    NaN
1335    NaN
1336    NaN
1337    NaN
Name: coordinates, dtype: object
(0, 0, 'Bangor', 'England')
1062    NaN
Name: coordinates, dtype: object
(0, 0, 'Bangor', 'Wales')
604    NaN
Name: coordinates, dtype: object
(0, 0, 'Barbados', 'England')
98    NaN
Name: coordinates, dtype: object
(0, 0, 'Barnet', 'England')
394    NaN
Name: coordinates, dtype: object
(0, 0, 'Bath', 'England')
605     NaN
1063    NaN
Name: coordinates, dtype: object
(0, 0, 'Beaufort', 'US')
1338    NaN
Name: coordinates, dtype: object
(0, 0, 'Belville', 'US')
1344    NaN
Name: coordinates, dtype: object
(0, 0, 'Beyrout', 'Lebanon')
424    NaN
Name: coordinates, dtype: object
(0, 0, 'Birmingham', 'England')
8       NaN
11      NaN
14      NaN
106     NaN
84      NaN
85      NaN
86      NaN
87      NaN
88      NaN
242     NaN
243     NaN
244     NaN
245     NaN
246     NaN
247     NaN
248     NaN
249     NaN
593     NaN
594     NaN
595     NaN
596     NaN
597     NaN
598     NaN
599     NaN
600     NaN
601     NaN
602     NaN
1052    NaN
1053    NaN
1054    NaN
1055    NaN
1056    NaN
1057    NaN
1058    NaN
1059    NaN
1060    NaN
Name: coordinates, dtype: object
(0, 0, 'Black River', 'Jamaica')
801    18.029914, -77.859211
802    18.029914, -77.859212
Name: coordinates, dtype: object
(0, 0, 'Blackheath', 'England')
395    NaN
396    NaN
397    NaN
398    NaN
Name: coordinates, dtype: object
(0, 0, 'Boulogne', 'France')
102    NaN
Name: coordinates, dtype: object
(0, 0, 'Bridgetown', 'Barbados')
280     NaN
51      NaN
90      NaN
378     NaN
1274    NaN
1275    NaN
1276    NaN
1277    NaN
1278    NaN
1279    NaN
Name: coordinates, dtype: object
(0, 0, 'Bridgetown ', 'Barbados')
210    NaN
Name: coordinates, dtype: object
(0, 0, 'Brighton', 'England')
275     NaN
606     NaN
607     NaN
1064    NaN
1065    NaN
1066    NaN
60      NaN
Name: coordinates, dtype: object
(0, 0, 'Brisgetown', 'Barbados')
707    13.099357, -59.615220
708    13.099357, -59.615221
709    13.099357, -59.615222
710    13.099357, -59.615223
Name: coordinates, dtype: object
(0, 0, 'Bristol', 'England')
123     NaN
250     NaN
251     NaN
252     NaN
253     NaN
254     NaN
255     NaN
608     NaN
609     NaN
610     NaN
611     NaN
612     NaN
613     NaN
614     NaN
615     NaN
1067    NaN
1068    NaN
1069    NaN
1070    NaN
1071    NaN
1072    NaN
1073    NaN
Name: coordinates, dtype: object
(0, 0, 'Brompton', 'England')
616     NaN
1074    NaN
Name: coordinates, dtype: object
(0, 0, 'Cambridge', 'England')
105    NaN
106    NaN
107    NaN
108    NaN
109    NaN
110    NaN
111    NaN
112    NaN
113    NaN
114    NaN
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
122    NaN
123    NaN
124    NaN
125    NaN
126    NaN
127    NaN
128    NaN
129    NaN
130    NaN
131    NaN
132    NaN
133    NaN
134    NaN
      ...
180    NaN
181    NaN
182    NaN
183    NaN
184    NaN
185    NaN
186    NaN
187    NaN
188    NaN
189    NaN
190    NaN
191    NaN
192    NaN
193    NaN
194    NaN
195    NaN
196    NaN
197    NaN
198    NaN
199    NaN
200    NaN
201    NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
617    NaN
618    NaN
619    NaN
Name: coordinates, Length: 105, dtype: object
(0, 0, 'Campton, Bedfordshire', 'England')
76    52.029629, -0.353235
Name: coordinates, dtype: object
(0, 0, 'Canterbury', 'England')
89      NaN
269     NaN
1075    NaN
1076    NaN
1077    NaN
Name: coordinates, dtype: object
(0, 0, 'Canton', 0)
836     NaN
1309    NaN
1310    NaN
Name: coordinates, dtype: object
(0, 0, 'Cape of Good Hope', ' South Africa')
832    -33.929792, 18.416583
833    -33.929792, 18.416584
834    -33.929792, 18.416585
835    -33.929792, 18.416586
Name: coordinates, dtype: object
(0, 0, 'Cape of Good Hope', 'South Africa')
1302    NaN
1303    NaN
1304    NaN
1305    NaN
1306    NaN
Name: coordinates, dtype: object
(0, 0, 'Carlow', 'England')
419    NaN
Name: coordinates, dtype: object
(0, 0, 'Cassatollah', 0)
1308    NaN
Name: coordinates, dtype: object
(0, 0, 'Charleston', 'England')
99    NaN
Name: coordinates, dtype: object
(0, 0, 'Charleston', 'US')
379     NaN
1339    NaN
1340    NaN
1341    NaN
1342    NaN
Name: coordinates, dtype: object
(0, 0, 'Charlotte Amalie', 'St. Thomas')
345     NaN
346     NaN
347     NaN
348     NaN
349     NaN
350     NaN
351     NaN
352     NaN
353     NaN
354     NaN
355     NaN
356     NaN
357     NaN
358     NaN
359     NaN
360     NaN
361     NaN
362     NaN
363     NaN
364     NaN
365     NaN
366     NaN
367     NaN
368     NaN
369     NaN
421     NaN
1249    NaN
1250    NaN
1251    NaN
1252    NaN
1253    NaN
1254    NaN
1255    NaN
1256    NaN
1257    NaN
1258    NaN
1259    NaN
1260    NaN
1261    NaN
1262    NaN
1263    NaN
1264    NaN
1265    NaN
1266    NaN
1267    NaN
1268    NaN
1269    NaN
1270    NaN
1271    NaN
1272    NaN
Name: coordinates, dtype: object
(0, 0, 'Charlotte Amalie', 'St. Thomas ')
839    18.342858, -64.932620
840    18.342858, -64.932621
841    18.342858, -64.932622
842    18.342858, -64.932623
843    18.342858, -64.932624
844    18.342858, -64.932625
845    18.342858, -64.932626
846    18.342858, -64.932627
847    18.342858, -64.932628
848    18.342858, -64.932629
849    18.342858, -64.932630
850    18.342858, -64.932631
851    18.342858, -64.932632
852    18.342858, -64.932633
853    18.342858, -64.932634
854    18.342858, -64.932635
855    18.342858, -64.932636
856    18.342858, -64.932637
857    18.342858, -64.932638
858    18.342858, -64.932639
859    18.342858, -64.932640
860    18.342858, -64.932641
861    18.342858, -64.932642
862    18.342858, -64.932643
863    18.342858, -64.932644
864    18.342858, -64.932645
865    18.342858, -64.932646
866    18.342858, -64.932647
867    18.342858, -64.932648
109    18.342580, -64.931285
Name: coordinates, dtype: object
(0, 0, 'Chatham', 'England')
1084    NaN
Name: coordinates, dtype: object
(0, 0, 'Chelmsford', 'England')
185    51.744186, 0.459099
Name: coordinates, dtype: object
(0, 0, 'Cheltenham', 'England')
256     NaN
257     NaN
258     NaN
259     NaN
260     NaN
620     NaN
621     NaN
622     NaN
623     NaN
624     NaN
1078    NaN
1079    NaN
1080    NaN
1081    NaN
1082    NaN
Name: coordinates, dtype: object
(0, 0, 'Clarendon', 'Jamaica')
1248    17.781032, -77.225265
Name: coordinates, dtype: object
(0, 0, 'Colchester', 'England')
105     NaN
1083    NaN
Name: coordinates, dtype: object
(0, 0, 'Columbia', 'US')
1343    NaN
Name: coordinates, dtype: object
(0, 0, 'Corfu', 'Greece')
423                      NaN
711     39.623919, 19.919405
1301                     NaN
Name: coordinates, dtype: object
(0, 0, 'Coventry ', 'England')
279    NaN
Name: coordinates, dtype: object
(0, 0, 'Derby', 'England')
272     NaN
399     NaN
400     NaN
625     NaN
626     NaN
627     NaN
1085    NaN
1086    NaN
1087    NaN
Name: coordinates, dtype: object
(0, 0, 'Derry', 'Ireland')
682     NaN
1093    NaN
Name: coordinates, dtype: object
(0, 0, 'Devon', 'England')
671     NaN
1136    NaN
Name: coordinates, dtype: object
(0, 0, 'Dover', 'England')
98      NaN
91      NaN
92      NaN
265     NaN
266     NaN
628     NaN
629     NaN
1088    NaN
1089    NaN
16      NaN
17      NaN
Name: coordinates, dtype: object
(0, 0, 'Down', 'Ireland')
683    NaN
Name: coordinates, dtype: object
(0, 0, 'Dublin', 'Ireland')
332     NaN
333     NaN
334     NaN
335     NaN
336     NaN
337     NaN
338     NaN
339     NaN
340     NaN
341     NaN
342     NaN
343     NaN
344     NaN
345     NaN
346     NaN
347     NaN
348     NaN
349     NaN
350     NaN
351     NaN
352     NaN
353     NaN
354     NaN
355     NaN
356     NaN
357     NaN
358     NaN
681     NaN
685     NaN
1091    NaN
1092    NaN
Name: coordinates, dtype: object
(0, 0, 'Dumfries', 'Scotland')
630     NaN
1090    NaN
Name: coordinates, dtype: object
(0, 0, 'Dumfriesshire', 'England')
401    NaN
Name: coordinates, dtype: object
(0, 0, 'Edinburgh', 'England')
93     NaN
271    NaN
Name: coordinates, dtype: object
(0, 0, 'Edinburgh', 'Scotland')
402     NaN
631     NaN
632     NaN
1094    NaN
1095    NaN
Name: coordinates, dtype: object
(0, 0, 'Eton, Windsor', 'England')
38    51.496270, -0.604397
39    51.496270, -0.604398
40    51.496270, -0.604399
41    51.496270, -0.604400
42    51.496270, -0.604402
43    51.496270, -0.604403
44    51.496270, -0.604404
45    51.496270, -0.604405
46    51.496270, -0.604406
47    51.496270, -0.604407
48    51.496270, -0.604408
49    51.496270, -0.604409
50    51.496270, -0.604410
Name: coordinates, dtype: object
(0, 0, 'Exeter', 'England')
359     NaN
360     NaN
361     NaN
362     NaN
363     NaN
364     NaN
365     NaN
366     NaN
367     NaN
633     NaN
634     NaN
1096    NaN
1097    NaN
1098    NaN
Name: coordinates, dtype: object
(0, 0, 'Falmouth', 'England')
274     NaN
635     NaN
636     NaN
1099    NaN
1100    NaN
Name: coordinates, dtype: object
(0, 0, 'Falmouth', 'Jamaica')
809    18.492152, -77.653411
810    18.492152, -77.653412
811    18.492152, -77.653413
812    18.492152, -77.653414
813    18.492152, -77.653415
814    18.492152, -77.653416
815    18.492152, -77.653417
816    18.492152, -77.653418
817    18.492152, -77.653419
818    18.492152, -77.653420
819    18.492152, -77.653421
Name: coordinates, dtype: object
(0, 0, 'Fareham', 'England')
213    NaN
214    NaN
215    NaN
Name: coordinates, dtype: object
(0, 0, 'Felmersham, Bedfordshire', 'England')
72    52.207198, -0.552686
Name: coordinates, dtype: object
(0, 0, 'Gibralter', 'Gibralter')
689     36.141932, -5.352497
690     36.141932, -5.352498
691     36.141932, -5.352499
692     36.141932, -5.352500
693     36.141932, -5.352501
694     36.141932, -5.352502
695     36.141932, -5.352503
696     36.141932, -5.352504
697     36.141932, -5.352505
698     36.141932, -5.352506
699     36.141932, -5.352507
700     36.141932, -5.352508
701     36.141932, -5.352509
702     36.141932, -5.352510
703     36.141932, -5.352511
704     36.141932, -5.352512
705     36.141932, -5.352513
706     36.141932, -5.352514
1147                     NaN
1148                     NaN
1149                     NaN
1150                     NaN
1151                     NaN
1152                     NaN
1153                     NaN
1154                     NaN
1155                     NaN
1156                     NaN
1157                     NaN
1158                     NaN
1159                     NaN
1160                     NaN
1161                     NaN
1162                     NaN
1163                     NaN
1164                     NaN
1165                     NaN
1166                     NaN
1167                     NaN
1168                     NaN
Name: coordinates, dtype: object
(0, 0, 'Glasgow', 'Scotland')
1101    NaN
Name: coordinates, dtype: object
(0, 0, 'Glasgow ', 'Scotland')
637    NaN
Name: coordinates, dtype: object
(0, 0, 'Gosport', 'England')
185    NaN
186    NaN
187    NaN
188    NaN
189    NaN
190    NaN
191    NaN
192    NaN
193    NaN
194    NaN
195    NaN
196    NaN
197    NaN
198    NaN
199    NaN
200    NaN
201    NaN
202    NaN
203    NaN
204    NaN
205    NaN
206    NaN
207    NaN
Name: coordinates, dtype: object
(0, 0, 'Great Malvern', 'England')
1111    NaN
Name: coordinates, dtype: object
(0, 0, 'Hamburg', 'Germany')
111    NaN
112    NaN
113    NaN
Name: coordinates, dtype: object
(0, 0, 'Havant', 'England')
216    NaN
217    NaN
218    NaN
219    NaN
220    NaN
Name: coordinates, dtype: object
(0, 0, 'Henley-on-Thames', 'England')
276    NaN
277    NaN
Name: coordinates, dtype: object
(0, 0, 'Hereford', 'England')
70    52.055485, -2.712649
Name: coordinates, dtype: object
(0, 0, 'Holland', 'Netherlands')
1316    52.388965, 4.699264
Name: coordinates, dtype: object
(0, 0, 'Hull', 'England')
403     NaN
638     NaN
1102    NaN
Name: coordinates, dtype: object
(0, 0, 'Ipswich', 'England')
640     NaN
1104    NaN
Name: coordinates, dtype: object
(0, 0, 'Isle of Wight', 'England')
639     NaN
1103    NaN
Name: coordinates, dtype: object
(0, 0, 'Jamaica', 'Jamaica')
422    NaN
Name: coordinates, dtype: object
(0, 0, 'Jersey', 'England')
641     NaN
1105    NaN
Name: coordinates, dtype: object
(0, 0, 'Kent', 'England')
539    NaN
Name: coordinates, dtype: object
(0, 0, 'Kingston', 'Jamaica')
54      NaN
115     NaN
116     NaN
501     NaN
107     NaN
282     NaN
283     NaN
284     NaN
285     NaN
286     NaN
287     NaN
288     NaN
289     NaN
290     NaN
291     NaN
292     NaN
293     NaN
294     NaN
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN
300     NaN
301     NaN
302     NaN
303     NaN
304     NaN
305     NaN
306     NaN
       ...
1195    NaN
1196    NaN
1197    NaN
1198    NaN
1199    NaN
1200    NaN
1201    NaN
1202    NaN
1203    NaN
1204    NaN
1205    NaN
1206    NaN
1207    NaN
1208    NaN
1209    NaN
1210    NaN
1211    NaN
1212    NaN
1213    NaN
1214    NaN
1215    NaN
1216    NaN
1217    NaN
1218    NaN
1219    NaN
1220    NaN
1221    NaN
1222    NaN
1223    NaN
1224    NaN
Name: coordinates, Length: 196, dtype: object
(0, 0, 'Kingston', 'Jamiaca')
117    NaN
Name: coordinates, dtype: object
(0, 0, 'Lancaster', 'England')
90      NaN
270     NaN
642     NaN
643     NaN
1107    NaN
1108    NaN
Name: coordinates, dtype: object
(0, 0, 'Leamington', 'England')
404    NaN
Name: coordinates, dtype: object
(0, 0, 'Leeds', 'England')
273     NaN
405     NaN
644     NaN
1109    NaN
Name: coordinates, dtype: object
(0, 0, 'Lincoln', 'England')
28      NaN
1106    NaN
Name: coordinates, dtype: object
(0, 0, 'Liverpool', 'England')
221     NaN
222     NaN
223     NaN
224     NaN
225     NaN
226     NaN
227     NaN
228     NaN
229     NaN
230     NaN
231     NaN
232     NaN
233     NaN
234     NaN
235     NaN
236     NaN
237     NaN
238     NaN
239     NaN
240     NaN
241     NaN
242     NaN
243     NaN
244     NaN
245     NaN
246     NaN
247     NaN
248     NaN
249     NaN
250     NaN
       ...
567     NaN
568     NaN
569     NaN
570     NaN
1006    NaN
1007    NaN
1008    NaN
1009    NaN
1010    NaN
1011    NaN
1012    NaN
1013    NaN
1014    NaN
1015    NaN
1016    NaN
1017    NaN
1018    NaN
1019    NaN
1020    NaN
1021    NaN
1022    NaN
1023    NaN
1024    NaN
1025    NaN
1026    NaN
1027    NaN
1028    NaN
1029    NaN
33      NaN
92      NaN
Name: coordinates, Length: 187, dtype: object
(0, 0, 'Manchester', 'England')
278     NaN
141     NaN
305     NaN
306     NaN
307     NaN
308     NaN
309     NaN
310     NaN
311     NaN
312     NaN
313     NaN
314     NaN
315     NaN
316     NaN
317     NaN
318     NaN
319     NaN
320     NaN
321     NaN
322     NaN
323     NaN
324     NaN
325     NaN
326     NaN
327     NaN
328     NaN
329     NaN
330     NaN
331     NaN
73      NaN
       ...
588     NaN
589     NaN
590     NaN
591     NaN
592     NaN
1030    NaN
1031    NaN
1032    NaN
1033    NaN
1034    NaN
1035    NaN
1036    NaN
1037    NaN
1038    NaN
1039    NaN
1040    NaN
1041    NaN
1042    NaN
1043    NaN
1044    NaN
1045    NaN
1046    NaN
1047    NaN
1048    NaN
1049    NaN
1050    NaN
1051    NaN
32      NaN
50      NaN
79      NaN
Name: coordinates, Length: 131, dtype: object
(0, 0, 'Manchester', 'Jamaica')
803     17.868188, -77.566523
804     17.868188, -77.566524
1235                      NaN
1236                      NaN
Name: coordinates, dtype: object
(0, 0, 'Mayburgh', 'Ireland')
684    NaN
Name: coordinates, dtype: object
(0, 0, 'Melbourne', 'N. S. W.')
1297    NaN
Name: coordinates, dtype: object
(0, 0, 'Melbourne', 'N.S.W.')
1298    NaN
Name: coordinates, dtype: object
(0, 0, 'Mercersburgh', 'US')
1333    NaN
Name: coordinates, dtype: object
(0, 0, 'Molesworth', 'England')
408     NaN
645     NaN
1110    NaN
Name: coordinates, dtype: object
(0, 0, 'Montego Bay', 'Jamaica')
820     18.517564, -77.881401
821     18.517564, -77.881402
822     18.517564, -77.881403
823     18.517564, -77.881404
824     18.517564, -77.881405
825     18.517564, -77.881406
826     18.517564, -77.881407
827     18.517564, -77.881408
828     18.517564, -77.881409
829     18.517564, -77.881410
830     18.517564, -77.881411
1237                      NaN
1238                      NaN
1239                      NaN
1240                      NaN
1241                      NaN
1242                      NaN
1243                      NaN
1244                      NaN
1245                      NaN
1246                      NaN
1247                      NaN
Name: coordinates, dtype: object
(0, 0, 'Montreal', 'Canada')
712     45.515210, -73.579658
1378                      NaN
1379                      NaN
Name: coordinates, dtype: object
(0, 0, 'Muzafapore', 'India')
1307    NaN
Name: coordinates, dtype: object
(0, 0, 'N.L.', 0)
425    NaN
426    NaN
427    NaN
Name: coordinates, dtype: object
(0, 0, 'New York', 'US')
713     40.773982, -73.969196
1355                      NaN
1356                      NaN
1357                      NaN
1358                      NaN
1359                      NaN
1360                      NaN
1361                      NaN
1362                      NaN
1363                      NaN
1364                      NaN
1365                      NaN
1366                      NaN
1367                      NaN
1368                      NaN
1369                      NaN
1370                      NaN
1371                      NaN
1372                      NaN
1373                      NaN
1374                      NaN
1375                      NaN
1376                      NaN
1377                      NaN
Name: coordinates, dtype: object
(0, 0, 'Norwich', 'England')
409     NaN
646     NaN
1112    NaN
Name: coordinates, dtype: object
(0, 0, 'Ocho Rios', 'Jamaica')
831     18.412201, -77.087904
1234                      NaN
Name: coordinates, dtype: object
(0, 0, 'Odessa', 'Ukraine')
104    NaN
384    NaN
Name: coordinates, dtype: object
(0, 0, 'Oswestry', 'England')
647     NaN
1113    NaN
Name: coordinates, dtype: object
(0, 0, 'Otrobanda', 'Curacao')
1280    NaN
1281    NaN
1282    NaN
1283    NaN
1284    NaN
1285    NaN
1286    NaN
1287    NaN
Name: coordinates, dtype: object
(0, 0, 'Otrobanda', 'Curacao ')
370                      NaN
371                      NaN
372                      NaN
373                      NaN
374                      NaN
375                      NaN
376                      NaN
377                      NaN
868    12.105104, -68.932762
869    12.105104, -68.932763
870    12.105104, -68.932764
871    12.105104, -68.932765
872    12.105104, -68.932766
873    12.105104, -68.932767
874    12.105104, -68.932768
875    12.105104, -68.932769
Name: coordinates, dtype: object
(0, 0, 'Oxford', 'England')
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
      ...
97     NaN
98     NaN
99     NaN
100    NaN
101    NaN
102    NaN
103    NaN
104    NaN
285    NaN
286    NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN

61    NaN
Name: coordinates, dtype: object
('Gloucester place', 'Westminster', 0, 'England')
227    NaN
228    NaN
229    NaN
523    NaN
Name: coordinates, dtype: object
('Gower street', 'Camden', 0, 'England')
250    NaN
Name: coordinates, dtype: object
('Gravel Lane', 'City', 0, 'England')
49     NaN
155    NaN
Name: coordinates, dtype: object
("Gray's Inn Lane", 'Clerkenwell', 0, 'England')
108    51.525148, -0.116760
Name: coordinates, dtype: object
('Great Coram Street', 'Camden', 0, 'England')
152    NaN
153    NaN
Name: coordinates, dtype: object
('Great Cumberland street', 'Westminster', 0, 'England')
296    NaN
Name: coordinates, dtype: object
('Great Synagogue Dukes Place', 'City', 0, 'England')
84    51.514348, -0.077706
Name: coordinates, dtype: object
('Great Winchester Street', 'City', 0, 'England')
243    NaN
Name: coordinates, dtype: object
('Guilford Street', 'Camden', 0, 'England')
142    NaN
143    NaN
144    NaN
145    NaN
Name: coordinates, dtype: object
('Gunnersbury', 'West London', 0, 'England')
209    NaN
Name: coordinates, dtype: object
('Hammett Street', 'Whitechapel', 0, 'England')
202    51.510515, -0.075289
105                     NaN
975                     NaN
Name: coordinates, dtype: object
('Hanover Square', 'Westminster', 0, 'England')
460    NaN
65     NaN
66     NaN
Name: coordinates, dtype: object
('Hanover terrace', 'Westminster', 0, 'England')
225    NaN
Name: coordinates, dtype: object
('Hare Court', 'City', 0, 'England')
53    NaN
Name: coordinates, dtype: object
('Harrow School', 'Harrow', 0, 'England')
51    51.572704, -0.333422
52    51.572704, -0.333423
53    51.572704, -0.333424
54    51.572704, -0.333425
Name: coordinates, dtype: object
('Hayden Square', 'Aldgate', 0, 'England')
185    51.511855, -0.076066
Name: coordinates, dtype: object
('Haydon Square', 'Whitechapel', 0, 'England')
110    51.512077, -0.074693
499                     NaN
Name: coordinates, dtype: object
('Haymarket', 'Westminster', 0, 'England')
292    NaN
Name: coordinates, dtype: object
('Henden ', 'Barnet ', 0, 'England')
75    51.585750, -0.219383
Name: coordinates, dtype: object
('Henrietta street', 'Westminster', 0, 'England')
284    NaN
Name: coordinates, dtype: object
('Hertford Street ', 'Mayfair', 0, 'England')
201    51.505681, -0.148536
Name: coordinates, dtype: object
('High Street ', 'Aldgate', 0, 'England')
25    NaN
Name: coordinates, dtype: object
('Highbury place', 'Islington', 0, 'England')
212    NaN
Name: coordinates, dtype: object
('Highgate', 'Hampstead Heath', 0, 'England')
107    NaN
Name: coordinates, dtype: object
('Holborn,', 'City', 0, 'England')
79    NaN
Name: coordinates, dtype: object
('Houndsditch', 'Camden', 0, 'England')
133    NaN
Name: coordinates, dtype: object
('Houndsditch', 'City', 0, 'England')
457    NaN
41     NaN
42     NaN
43     NaN
54     NaN
190    NaN
217    NaN
272    NaN
33     NaN
133    NaN
159    NaN
459    NaN
907    NaN
Name: coordinates, dtype: object
('Houndsditch', 'City', 0, 'Enland')
274    NaN
Name: coordinates, dtype: object
('Hunter Street', 'Camden', 0, 'England')
116    NaN
Name: coordinates, dtype: object
('Hyde Park square', 'Westminster', 0, 'England')
171    NaN
Name: coordinates, dtype: object
('Ironmonger lane', 'City', 0, 'England')
224    NaN
28     NaN
107    NaN
176    NaN
520    NaN
Name: coordinates, dtype: object
('Jewry Street', 'City', 0, 'England')
15    NaN
75    NaN
Name: coordinates, dtype: object
('John Street', 'Whitechapel', 0, 'England')
205    51.511470, -0.076051
Name: coordinates, dtype: object
('John street', 'Camden', 0, 'England')
184    NaN
Name: coordinates, dtype: object
('Kennington Lane', 'Central London', 0, 'England')
94    NaN
Name: coordinates, dtype: object
('Kennington place', 'Central London', 0, 'England')
198    NaN
Name: coordinates, dtype: object
('Kenninton Lane', 'Central London', 0, 'England')
95    NaN
Name: coordinates, dtype: object
('Keppel Street', 'Camden', 0, 'England')
36     51.520424, -0.130650
61                      NaN
18                      NaN
138                     NaN
Name: coordinates, dtype: object
('King Street', 'Central London', 0, 'England')
5      NaN
101    NaN
Name: coordinates, dtype: object
('King William street', 'City', 0, 'England')
233    NaN
Name: coordinates, dtype: object
('King square', 'Islington', 0, 'England')
251    NaN
Name: coordinates, dtype: object
('King street', 'Central London', 0, 'England')
189    NaN
42     NaN
Name: coordinates, dtype: object
('Lambeth Place', 'Lambeth', 0, 'England')
186    51.493375, -0.116105
Name: coordinates, dtype: object
('Lambeth Rectory', 'Lambeth', 0, 'England')
187    51.495350, -0.116966
Name: coordinates, dtype: object
('Lansdowne place', 'South East London', 0, 'England')
245    NaN
246    NaN
247    NaN
533    NaN
985    NaN
Name: coordinates, dtype: object
('Leadenhall Street', 'Aldgate', 0, 'England')
182    51.513531, -0.080722
Name: coordinates, dtype: object
('Leadenhall Street', 'City', 0, 'England')
92    NaN
Name: coordinates, dtype: object
("Leatherseller's Buildings", 'City', 0, 'England')
99    NaN
Name: coordinates, dtype: object
('Leman Square', 'Whitechapel', 0, 'England')
90    51.513429, -0.070084
Name: coordinates, dtype: object
('Leman Street', "Goodman's Fields", 0, 'England')
120    51.512579, -0.069580
Name: coordinates, dtype: object
('Leman Street', 'Whitechapel', 0, 'England')
164    51.512816, -0.069851
4                       NaN
488                     NaN
1                       NaN
47                      NaN
131                     NaN
114                     NaN
431                     NaN
902                     NaN
Name: coordinates, dtype: object
('Leman Street ', 'Whitechapel', 0, 'England')
98    NaN
Name: coordinates, dtype: object
('Lemon Street', "Goodman's Fields", 0, 'England')
109    51.512579, -0.069580
Name: coordinates, dtype: object
("Lincoln's Inn", 'Clerkenwell', 0, 'England')
199    51.517384, -0.113915
Name: coordinates, dtype: object
('Little Alie street', 'Whitechapel', 0, 'England')
231    NaN
232    NaN
Name: coordinates, dtype: object
('London Wall', 'City', 0, 'England')
67    51.511365, -0.076019
Name: coordinates, dtype: object
('London Wall', 'Tower Hill', 0, 'England')
48    51.509825, -0.076116
Name: coordinates, dtype: object
('Mabledon place', 'Camden', 0, 'England')
169    NaN
Name: coordinates, dtype: object
('Maidstone, Kent', 0, 'Kent', 'England')
60    NaN
Name: coordinates, dtype: object
('Manchester Square', 'Central London', 0, 'England')
80    NaN
Name: coordinates, dtype: object
('Mansel Street', 'Aldgate', 0, 'England')
147    51.511853, -0.073038
192    51.511853, -0.073038
990                     NaN
Name: coordinates, dtype: object
('Mansel Street', 'Whitechapel', 0, 'England')
118    51.512119, -0.072939
119    51.512119, -0.072940
Name: coordinates, dtype: object
('Mansell Street', 'Whitechapel', 0, 'England')
20     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
122    NaN
139    NaN
157    NaN
264    NaN
283    NaN
451    NaN
Name: coordinates, dtype: object
('Mansell street', 'Whitechapel', 0, 'England')
270    NaN
Name: coordinates, dtype: object
('Mark Lane', 'City', 0, 'England')
197    51.510878, -0.080405
Name: coordinates, dtype: object
('Mark lane', 'City', 0, 'England')
170    NaN
Name: coordinates, dtype: object
("Merchant Taylors' School", 'City', 0, 'England')
55    51.635891, -0.424265
56    51.635891, -0.424266
57    51.635891, -0.424267
58    51.635891, -0.424268
Name: coordinates, dtype: object
("Mildred's Court", 'City', 0, 'England')
204    51.513632, -0.089761
Name: coordinates, dtype: object
('Minories', 'City', 0, 'England')
63     NaN
486    NaN
10     NaN
128    NaN
130    NaN
934    NaN
45     NaN
Name: coordinates, dtype: object
('Minories', 'Whitechapel', 0, 'England')
107    51.512036, -0.075288
198    51.511828, -0.075438
Name: coordinates, dtype: object
('Mitre Street', 'Whitechapel', 0, 'England')
445    NaN
Name: coordinates, dtype: object
('Montague Place', 'Camden', 0, 'England')
124    NaN
125    NaN
Name: coordinates, dtype: object
('Montague Place', 'Westminster', 0, 'England')
202    NaN
Name: coordinates, dtype: object
('Moorgate street', 'City', 0, 'England')
203    NaN
Name: coordinates, dtype: object
('Morninton Place', 'Islington', 0, 'England')
531    NaN
Name: coordinates, dtype: object
('Nelson Square', 'Central London', 0, 'England')
40    NaN
Name: coordinates, dtype: object
('New Broad street', 'City', 0, 'England')
522    NaN
165    NaN
Name: coordinates, dtype: object
('New Broad street', 'City', 0, 'Enland')
166    NaN
Name: coordinates, dtype: object
('New Court', 'City', 0, 'England')
163    NaN
118    NaN
110    NaN
173    NaN
429    NaN
885    NaN
Name: coordinates, dtype: object
('New Square', 'City', 0, 'England')
64    NaN
Name: coordinates, dtype: object
('Newgate Street', 'City', 0, 'England')
180    NaN
528    NaN
Name: coordinates, dtype: object
('Newington', 'Central London', 0, 'England')
278    NaN
Name: coordinates, dtype: object
('Norfolk Street, St. George Hanover Square', 'Westminster', 0, 'England')
18    51.513848, -0.143825
Name: coordinates, dtype: object
('Old Broad Street ', 'City', 0, 'England')
170    51.515792, -0.084146
Name: coordinates, dtype: object
('Old Castle Street', 'Whitechapel', 0, 'England')
32     51.516250, -0.073993
911                     NaN
Name: coordinates, dtype: object
('Old Kent Road', 'Central London', 0, 'England')
447    NaN
35     NaN
Name: coordinates, dtype: object
('Old Street Road', 'Shoreditch', 0, 'England')
167    51.525551, -0.088324
Name: coordinates, dtype: object
('Oxendon street', 'Westminster', 0, 'England')
214    NaN
215    NaN
216    NaN
974    NaN
Name: coordinates, dtype: object
('Oxford Street', 'Central London', 0, 'England')
38    NaN
Name: coordinates, dtype: object
('Oxford Terrace', 'Central London', 0, 'England')
29    NaN
30    NaN
Name: coordinates, dtype: object
('Oxford terrace', 'Central London', 0, 'England')
273    NaN
Name: coordinates, dtype: object
('Pall Mall', 'St. James', 0, 'England')
136    51.506465, -0.134643
175    51.506401, -0.134636
Name: coordinates, dtype: object
('Park Crescent', 'Central London', 0, 'England')
124    NaN
34     NaN
Name: coordinates, dtype: object
('Park Crescent', 'Marylebone', 0, 'England')
29    51.522890, -0.146387
Name: coordinates, dtype: object
('Park Lane', 'Central London', 0, 'England')
31    NaN
32    NaN
33    NaN
Name: coordinates, dtype: object
('Park lane', 'Westminster', 0, 'England')
290    NaN
291    NaN
Name: coordinates, dtype: object
("Parson's Green", 'Hammersmith', 0, 'England')
95    51.474645, -0.198996
Name: coordinates, dtype: object
('Peters Alley', 'City', 0, 'England')
101    NaN
Name: coordinates, dtype: object
('Philpot Lane', 'City', 0, 'England')
39    NaN
Name: coordinates, dtype: object
('Piccadilly', 'Westminster', 0, 'England')
89     NaN
90     NaN
210    NaN
211    NaN
Name: coordinates, dtype: object
('Portman square', 'Westminster', 0, 'England')
257    NaN
Name: coordinates, dtype: object
('Prescot Street', 'Islington', 0, 'England')
448    NaN
Name: coordinates, dtype: object
('Prescot Street', 'Whitechapel', 0, 'England')
125    51.511731, -0.070894
135    51.511787, -0.070930
176    51.511701, -0.070770
Name: coordinates, dtype: object
('Prescot Street', 'Whitechapel ', 0, 'England')
184    51.511701, -0.070770
Name: coordinates, dtype: object
("Prescott-St. Goodman's Fields ", 'Whitehapel', 0, 'England')
143    NaN
Name: coordinates, dtype: object
("Prince's Street", 'City', 0, 'England')
85    51.514068, -0.089337
Name: coordinates, dtype: object
('Quadrant, Regent Street ', 'Westminster', 0, 'England')
33    51.512182, -0.139763
Name: coordinates, dtype: object
('Queen Street', 'City', 0, 'England')
70    NaN
Name: coordinates, dtype: object
('Queen Victoria Street', 'City', 0, 'England')
82    51.512377, -0.101234
Name: coordinates, dtype: object
("Regent's park", 'Westminster', 0, 'England')
266    NaN
Name: coordinates, dtype: object
('Russell Square', 'Bloomsbury', 0, 'England')
100    51.522300, -0.125013
508                     NaN
120                     NaN
958                     NaN
59                      NaN
Name: coordinates, dtype: object
('Savage Gardens', 'Tower Hill', 0, 'England')
8    NaN
Name: coordinates, dtype: object
('Scarboro ', 0, 0, 0)
294    NaN
Name: coordinates, dtype: object
('Shoe Lane', 'City', 0, 'England')
145    51.516310, -0.106409
Name: coordinates, dtype: object
('Somerset street', 'Aldgate', 0, 'England')
236    51.513558, -0.074229
Name: coordinates, dtype: object
('South Street', 'Central London', 0, 'England')
183    NaN
2      NaN
17     NaN
37     NaN
Name: coordinates, dtype: object
('South Street', 'West End', 0, 'England')
48    NaN
Name: coordinates, dtype: object
('South Street Finsbury', 'Central London', 0, 'England')
134    NaN
Name: coordinates, dtype: object
('South place', 'City', 0, 'England')
234    NaN
6      NaN
440    NaN
993    NaN
Name: coordinates, dtype: object
("St. George's St. East", 'Whitechapel', 0, 'England')
23    51.509947, -0.059765
Name: coordinates, dtype: object
("St. John's Lodge Regent Park ", 'Camden', 0, 'England')
43    51.529222, -0.151317
Name: coordinates, dtype: object
('St. Mary Axe', 'City', 0, 'England')
106    51.514878, -0.080756
126    51.514878, -0.080756
138    51.514858, -0.080869
46                      NaN
275                     NaN
286                     NaN
909                     NaN
956                     NaN
Name: coordinates, dtype: object
("St. Michael's", 'City', 0, 'England')
193    51.513227, -0.085514
Name: coordinates, dtype: object
("St. Paul's School", 'Hammersmith', 0, 'England')
59    51.487993, -0.237526
60    51.487993, -0.237527
Name: coordinates, dtype: object
('St. Pauls', 'City', 0, 'England')
68    51.514006, -0.098361
Name: coordinates, dtype: object
('St. Swithins Lane', 'City', 0, 'England')
132    51.512133, -0.089012
Name: coordinates, dtype: object
('Stamford Hill', 'City', 0, 'England')
541    NaN
Name: coordinates, dtype: object
('Stanhope place', 'Westminster', 0, 'England')
295    NaN
Name: coordinates, dtype: object
('Stoke Newington', 'Hackney', 0, 'England')
279    NaN
Name: coordinates, dtype: object
('Stoke Newington', 'Stoke Newington', 0, 'England')
130    51.562211, -0.079606
Name: coordinates, dtype: object
('Strand', 'Westminster', 0, 'England')
34     51.511143, -0.119657
240                     NaN
Name: coordinates, dtype: object
('Stratford Place', 'Westminster', 0, 'England')
461    NaN
67     NaN
14     NaN
117    NaN
434    NaN
916    NaN
Name: coordinates, dtype: object
('Streatham', 'Central London', 0, 'England')
289    NaN
Name: coordinates, dtype: object
('Sun Square', 'Bishopsgate/city', 0, 'England')
1    NaN
Name: coordinates, dtype: object
('Swan street', 'Central London', 0, 'England')
188    NaN
Name: coordinates, dtype: object
('Tavistock Place', 'Camden', 0, 'England')
45    51.525720, -0.125400
87                     NaN
88                     NaN
Name: coordinates, dtype: object
('Tavistock place', 'Camden', 0, 'England')
252    NaN
Name: coordinates, dtype: object
('Torrington square', 'Camden', 0, 'England')
172    NaN
109    NaN
428    NaN
57     NaN
Name: coordinates, dtype: object
('Tottenham', 'London', 0, 'England')
131    51.604878, -0.072748
Name: coordinates, dtype: object
('Tower Hill', 'Central London', 0, 'England')
515    NaN
Name: coordinates, dtype: object
('Trinity Square', 'Central London', 0, 'England')
516    NaN
Name: coordinates, dtype: object
('Trinity square', 'Central London', 0, 'England')
176    NaN
Name: coordinates, dtype: object
('Upper Bedford Place', 'Camden', 0, 'England')
58    NaN
59    NaN
60    NaN
96    NaN
97    NaN
Name: coordinates, dtype: object
('Upper Bedford place', 'Camden', 0, 'England')
226    NaN
Name: coordinates, dtype: object
('Upper Harley Street', 'Central London', 0, 'England')
79    NaN
82    NaN
Name: coordinates, dtype: object
('Upper Harley Street', 'Marylebone', 0, 'England')
40    51.520142, -0.147427
41    51.520142, -0.147428
Name: coordinates, dtype: object
('Upper Harley street', 'Westminster', 0, 'England')
277    NaN
Name: coordinates, dtype: object
('Upper Wimpole street', 'Westminster', 0, 'England')
218    NaN
Name: coordinates, dtype: object
('Upper Woburn Place', 'Camden', 0, 'England')
148    NaN
149    NaN
31     NaN
Name: coordinates, dtype: object
('Wells Street', 'Spitalfields', 0, 'England')
94    NaN
Name: coordinates, dtype: object
('West Street', 'Central London', 0, 'England')
93    NaN
Name: coordinates, dtype: object
('West Street Finsbury circus', 'City', 0, 'England')
262    NaN
Name: coordinates, dtype: object
('Wilson Street', 'Central London', 0, 'England')
159    NaN
Name: coordinates, dtype: object
('Woburn Place', 'Camden', 0, 'England')
91    NaN
92    NaN
Name: coordinates, dtype: object
('Woburn place', 'Camden', 0, 'England')
168    NaN
Name: coordinates, dtype: object
('Woolwich', 'South East London', 0, 'England')
55     NaN
910    NaN
Name: coordinates, dtype: object
('Wormwood street', 'City', 0, 'England')
205    NaN
Name: coordinates, dtype: object

ValueError: Length mismatch: Expected axis has 2282 elements, new values have 3068 elements

In [18]:
save_xls(df_list)