In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame([[1, np.nan, 1], [np.nan, 4,], [np.nan, 6,], [7, np.nan,]], columns=["A", "B", "AorB"])

In [2]:
df1['D'] = np.nan

In [3]:
df1

     A    B  AorB   D
0  1.0  NaN   1.0 NaN
1  NaN  4.0   NaN NaN
2  NaN  6.0   NaN NaN
3  7.0  NaN   NaN NaN

In [4]:
df2 = pd.DataFrame(columns=['A','B','C'])

In [5]:
df2

Empty DataFrame
Columns: [A, B, C]
Index: []